<h1 align='center'>All Events</h1>
<div class="jumbotron">
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Event name</th>
          <th>Location</th>
          <th>Event Date</th>
          <th>Event Creator</th>
        </tr>
      </thead>
      <tbody>

          <tr><% @events.each do |t| %></tr>
            <td><%= t.name %></td>
            <td><%= t.location %></td>
            <td><%= t.date %></td>
            <td><%= t.creator.name %></td>
          <% end %>

      </tbody>
    </table>
  </div>
</div>
