<div class="container">
  <div class="footer">
    <small>
      Copyright &copy; <a href="https://github.com/jstloyal"> Ruby on Rails Developer.</a>
      By <a href="https://twitter.com/jstloyalTY">Adetayo Sunkanmi</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to 'About', '#' %></li>
      </ul>
    </nav>
  </div>
</div>