<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "PRIVATE EVENTS", root_path, id: "logo"%>
    <nav>
      <ul class="nav navbar-nav navbar-right">

        <li><%= link_to "All events", 'events_path' %></li>


      </ul>
    </nav>
  </div>
</header>
